<div>
  <p-carousel [value]="respostasComEstado()" [numVisible]="1" [numScroll]="1" orientation="horizontal">
    <ng-template pTemplate="previousicon">
      <i class="pi pi-chevron-left text-xl"></i>
    </ng-template>

    <ng-template pTemplate="nexticon">
      <i class="pi pi-chevron-right text-xl"></i>
    </ng-template>
    <ng-template pTemplate="item" let-productState$>
      @if (castObs(productState$) | async; as state) {

      @if (state.value; as product) {
      <div class="position-relative">

        <div class="position-absolute metricas-painel" style="z-index: 10000">

          <div class="text-center mb-3 cabecalho-arrastavel">
            <h2 class="fw-bold text-dark m-0">{{ product.algoritmo }}</h2>
            <hr class="w-50 mx-auto bg-dark opacity-50 mt-2">
          </div>

          <app-metricas [metricas]="product.metricas"></app-metricas>
        </div>
        <div style="height: 95vh;">
          <app-map
            [preSelectPoint]="pickListService.pois().concat(!pickListService.pontoInicial()? [] : pickListService.pontoInicial()!)"
            [selectable]="false" [ruas]="product.ruas">
          </app-map>
        </div>

      </div>
      }

      @else if (state.error) {
      <div
        class="carousel-item card border-danger rounded-4 w-100 h-100 p-4 d-flex flex-column justify-content-center align-items-center">
        <i class="pi pi-exclamation-triangle text-danger" style="font-size: 3rem;"></i>
        <h4 class="text-danger mt-3">Falha no Processamento</h4>
        <p class="text-muted">Ocorreu um erro ao executar este algoritmo.</p>
      </div>
      }
      @else if (state.loading) {
      <div class="d-flex justify-content-center align-items-center w-100 h-100">
        <i class="pi pi-spinner-dotted spinner text-primary pi-spin" style="font-size: 3rem;"></i>
      </div>
      }
      }
    </ng-template>

  </p-carousel>
</div>