<ul class="list-group historico-list">
    @if (!pontos.length) {
        <span class="text-primary">não foi adicionado ainda nenhum ponto!</span>
    }
    @for (item of pontos; track $index) {
        <li class="list-group-item">
            <button (click)="onPontoSelecionado.emit(item)" class="btn btn-group w-100">
                <app-item-list 
                  class="w-100"
                  [cor]="'black'"
                  [ponto]="item"
                ></app-item-list>
            </button>
        </li>
    }
</ul>