<div class="d-flex flex-column gap-2">
    <p class="small">
        <strong>{{label}}:</strong>
    </p>
    <ul class="list-group">
        @for (item of itens(); track $index) {
        <li class="list-group-item">
            <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-2 overflow-x-auto">

                <app-item-list [cor]="item.cor" [ponto]="item" class="flex-grow-1"></app-item-list>

                <div class="align-self-end align-self-md-auto">
                    <button class="btn btn-close" (click)="removePoint(item)" aria-label="Remover ponto"></button>
                </div>

            </div>
        </li>
        }
    </ul>
@if ((tipo==='INICIAL' && itens().length < 1) || tipo==='POI' ) { <button (click)="showForms()"
    class="btn btn-outline-secondary border-0 d-flex align-items-center justify-content-center gap-1 mt-2">
        <i class="pi pi-plus"></i>
        <span>adicionar ponto</span>
    </button>
    }
</div>